
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Poppins:wght@400;500;600&display=swap');


:root{
    --teal : #04AA6D;
    --teal-hover : #46a049;
}


* {
    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;
}

.custom-btn {
    background: var(--teal);
}

.custom-btn:hover {
    background: var(--teal-hover);
}

.custom-alert{
    position: fixed;
    top:80px;
    right: 100px;
}


